{% extends "layout.html" %}
{% block head %}
<script src=" {{ url_for('static', filename = 'myjs/account_management.js') }}"></script>
{% endblock %}

{% block content %}
<h1> {{ accInfo[0] }} - My Account </h1>
<p> This page is for managing your account. </p>

<div class="jumbotron">
    <h1> Account Information </h1>
    <p> Email:</p> <input id="email"type="text" value="{{accInfo[1]}}" /> <button onclick="updateParam('email','{{ accInfo[1]}}')"> Update</button> <br />
    <p> Realm:</p> <input id="realm" typeof="text" value="{{accInfo[2]}}"/> <button onclick="updateParam('realm','{{ accInfo[2]}}')"> Update </button> <br />
    <p> Account Funds:</p> <input id="funds" type="number" value="{{accInfo[3]}}"/> <button onclick="updateParam('funds',{{accInfo[3]}})">Update</button><br />
    <p> Password Update</p> <br />
    <p>Old password</p><input id="oldPW" type="password"/><br/> 
    <p>New password</p><input id="newPW" type="password" /><br/>
    <p>Confirm new password</p><input id="confirmPW" type="password" /><br />
    <button onclick="updatePassword()">Update password.</button>
</div>
<br />
<div class="jumbotron">
    <h1> Item wishlist </h1>
    <table class="table">
        <tr>
            <td>Item Name</td>
            <td>Item ID</td>
            <td>ACTIONS</td>
        </tr>
        {% for item in items %}
        <tr id="item{{item[1]}}">
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>
                <button onclick="removeFromWishList('{{ item[1] }}')">Remove item from wishlist</button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<br />
<div class="jumbotron">
    <h1> Reserved Auctions </h1>
    <table class="table">
        <tr>
            <td>Reservation ID</td>
            <td>Item Sold</td>
            <td>Discount</td>
            <td>Auction Timeleft</td>
            <td>Reservation Expiry</td>
            <td>ACTIONS</td>
        </tr>
        {% for auc in auctions %}
        <tr id="auc{{auc[0]}}">
            <td>{{auc[0]}}</td>
            <td>{{auc[1]}}</td>
            <td>{{auc[2]}}</td>
            <td>{{auc[3]}}</td>
            <td>{{auc[4]}}</td>
            <td>
                <button onclick="removeReservation('{{ auc[0] }}')">Cancel Reservation</button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>



<button onclick="logout()">Logout</button>

{% endblock %}