{% extends "layout.html" %}
{% block head %}
<script src="{{ url_for('static', filename = 'myjs/browse_functions.js') }}"></script>
{% endblock %}
{% block content %}

<h1> {{ message }} </h1>

<div class="jumbotron">
    <form method="POST" action="/search">
        <input type="text" name="itemName" />
        <button type="submit"> Search</button>
    </form>
</div>

<p> GO TO PAGE (1-1406) </p>
<input type="number" id="pageNumber" />
<button onclick="goToPage()">GO!</button>

    
<table class="table">
    <tr>
        <td>Item Name</td>
        <td>Buyout Value</td>
        <td>Current Bid</td>
        <td>Estimated Value</td>
        <td>Discount</td>
        <td>Realm</td>
        <td>Time Left</td>
        <td>Auction ID</td>
        <td>Item ID</td>
        <td>ACTIONS</td>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{(item[1]-item[1]%10000)/10000}}g {{(item[1]%10000-item[1]%100)/100}}s {{item[1]%100}}c </td>
        <td>{{(item[2]-item[2]%10000)/10000}}g {{(item[2]%10000-item[2]%100)/100}}s {{item[2]%100}}c </td>
        <td>{{(item[3]-item[3]%10000)/10000}}g {{(item[3]%10000-item[3]%100)/100}}s {{item[3]%100}}c </td>
        <td>{{item[4]}}</td>
        <td>{{item[5]}}</td>
        <td>{{item[6]}}</td>
        <td>{{item[7]}}</td>
        <td>{{item[8]}}</td>
        <td>
            <button onclick="addToWishList('{{ item[8] }}')">Add item to wishlist</button>
            <br />
            <button onclick="addToReserved('{{ item[7] }}')">Add auction to reserved</button>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
