{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Auction House Sniper Tool</h1>
    <p class="lead">AHST is a web app that allows you to find amazing deals on WoW items posted at the Auction House. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Account</h2>
        <p> Here you can manage your wishlist and reserved auctions as well as updating your account settings.</p>  
    </div>
    <div class="col-md-4">
        <h2>Browse </h2>
        <p> Here you can browse the auctions database and add items to your wishlist or reserve auctions.</p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>Here you'll find information about the developer and service.</p>
    </div>


</div>



{% endblock %}
